<section class="lp_header">
  <p class="content-center service_name">あなたと物件担当者をつなぐ</p>
  <p class="content-center maker">athome2</p>
</section>
<section class="lp_search">
  <p class="content-center search-navi">紹介してほしい物件は？</p>
    <div class="content-center">

        <input type="radio" name="estate_type" id="chitai" /><label for="chitai">賃貸</label>
        <input type="radio" name="estate_type" id="bay"/><label for="bay">売買</label>
        <select class="search-location">
            <option>東京</option>
        </select>
        <input type="textarea" value="" />
        <input type="button" value="検索">

    </div>

</section>
<section class="lp_hutter">
  <div class="lp_staff_list">
    <div class="result-staff-list content-center">
        <span class="area-selected">東京都</span>
        <span> の </span>
        <span class="estate_type_selected">賃貸物件</span>
        <span>を紹介できるスタッフ</span>
    </div>
    <div class="content-center">
      <span class="staff">20</span>
      <span>名</span>
    </div>
  </div>
</section>